@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --bg-color: #152644;
}

*{
    margin: 0;
    padding: 0;
}

/* Wrapper */
.wrapper{
    width: 1200px;
    height: 2000px;
    background-color: var(--bg-color);
    margin: auto;
}
/* End Wrapper */